<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/idcard.css">
    <title>Document</title>
</head>
<body>
    <section class="id-annotation">
        <h2>IDCARD ANNOTATOR</h2>
        
        <section class="display-info">
            <div>
                <canvas id="preview_img" class="canvas_preview_img"></canvas> 
            </div>
            <div>
                <div class="grid-container">
                    <div class="item-mode">
                        <label for="mode">Mode</label>
                    </div>
                    <div class="item-mode-select">
                        <select id="mode" name="mode">
                            <option value="random">Random</option>
                            <option value="index">Index</option>
                        </select>
                    </div>
                    <div class="item-imnum">
                        <label for="number_id">Image Number</label>
                    </div>
                    <div class="item-imnum-input">
                        <input type="text" id="number_id" name="number" placeholder="number of image">
                    </div>
                    <div class="item-submit-btn">
                        <button id="btn-loadfile" type="button" class="btn-load">load</button>
                    </div>
                </div>

                <p id="noti_index"></p>
                <p id="noti_number"></p>
                
                <form id="idcard_info" style="display:none;" class="idcard_info">
                    <div>
                        <label>IDnum: </label>
                        <input type="text" id="idnum" name="idnum" placeholder="idcard...."> <br>
                    </div>
                    <div>
                        <label>Name: </label>
                        <input type="text" id="idname" name="idname" placeholder="name......"> <br>
                    </div>
                    <div>
                        <label>Dob: </label>
                        <input type="text" id="iddob" name="iddob" placeholder="date...."> <br>
                    </div>
                    <div>
                        <label>Home: </label>
                        <input type="text" id="idhome" name="idhome" placeholder="home...."> <br>
                    </div>
                    <div>
                        <label>Address: </label>
                    <input type="text" id="idaddress" name="idaddress" placeholder="address...."> <br>
                    </div>
                
                </form>

                <div class="btn-flexbox">
                    <button id="btn-Previous" type="button" class="btn-Previous">Previous</button>
                    <button id="btn-Save" type="button" class="btn-Save">Save</button>               
                    <button id="btn-Next" type="button" class="btn-Next">Next</button>            
                </div>
                <h1 id="noti_save" style="text-align: center;"></h1>
            </div>
        </section>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/js/idcard.js"></script>
</body>
</html>